<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='img/gat_logo.png') }}">
        <title>Add Book</title>
        <style>
            body
            {
	            background-image: url("{{ url_for('static', filename='img/plain_bg.jpg') }}");
	            background-repeat: no-repeat;
	            background-size: cover;
            }
            
        </style>
    </head>
    <img src="{{ url_for('static', filename='img/gat_logo.png') }}" style="float: left; width: 12%"/>
    <img src="{{ url_for('static', filename='img/naac_logo.png') }}" style="float: right; width: 10%"/>
    <body>
        <center><br>
            <div id="info2">
                Department of Computer Science and Engineering<br>
                <font color="maroon" size="5">
                    Accredited by NBA with A grade
                </font>
            </div>
        <p><br><br>
            <font color="black" size="5">
                <u><b>Department Library Database</b></u>
            </font>
        </p><br>
        <form id="admin_addbook_form" action="/admin/addbook" method="POST">
			<input placeholder="Book ID" type="text" id="bookid" name="bookid" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" /><br><br>
			<input placeholder="Book Name" type="text" id="bookname" name="bookname" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" /><br><br>
			<input placeholder="Author" type="text" id="author" name="author" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" /><br><br>
			<input placeholder="Publisher" type="text" id="publisher" name="publisher" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" /><br><br>
            <input placeholder="ISBN" type="number" id="isbn" name="isbn" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" /><br><br>
            <input placeholder="Total Stock" type="number" id="stock" name="stock" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" /><br><br>
            <input type="submit" id="signup" value="Add Book" onclick="save()"/><br>
		</form>
        <input type="submit" id="cancel" value="Cancel" onclick="cancel()"/>
        <script>
            function save()
            {
                var bid = document.getElementById("bookid").value
                var name = document.getElementById("bookname").value
                var author = document.getElementById("author").value
                var pub = document.getElementById("publisher").value
                var isbn = document.getElementById("isbn").value
                var stock = document.getElementById("stock").value
                if(bid=="")
                    alert("Please enter Book ID")
                else if(name=="")
                    alert("Please enter Book Name")
                else if(author=="")
                    alert("Please enter Author of Book")
                else if(pub=="")
                    alert("Please enter Publisher of Book")
                else if(isbn=="")
                    alert("Please enter the ISBN Code")
                else if(stock=="")
                    alert("Please enter total stock of Book")
                else
                    alert("Book added Successfully\nThank You!!")
            }
            function cancel()
            {
                alert("Book Addition Cancelled");
                location.href = "{{ url_for('admin') }}"
            }
        </script>
    </body>
</html>