<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='img/gat_logo.png') }}">
        <title>Admin</title>
        <style>
            body
            {
	            background-image: url("{{ url_for('static', filename='img/plain_bg.jpg') }}");
	            background-repeat: no-repeat;
	            background-size: cover;
            }
            
        </style>
    </head>
    <img src="{{ url_for('static', filename='img/gat_logo.png') }}" style="float: left; width: 12%"/>
    <img src="{{ url_for('static', filename='img/naac_logo.png') }}" style="float: right; width: 10%"/>
    <body>
        <center><br>
            <div id="info2">
                Department of Computer Science and Engineering<br>
                <font color="maroon" size="5">
                    Accredited by NBA with A grade
                </font>
            </div>
        <p><br>
            <font color="black" size="5">
                <u><b>Department Library Database</b></u>
            </font>
        </p>
        <p><br>
            <font size="5" color="blue">
                WELCOME ADMIN!!
            </font><br>
            <font size="4" color="blue">
                Click on the operation you want to perform
            </font>
        </p>
        </center>
        <div id="admin-student-ops" style="margin-left: 115px; display: inline-block;">
            <p>
                <center><font size="4"><b><u>Student Operations</u></b></font></center>
            </p>
            <div>
                <input type="submit" id="login" value="Add Student" onclick="addstudent()" />
            </div>
            <div>
                <input type="submit" id="login" value="Remove Student" onclick="removestudent()" />
            </div>
            <div>
                <input type="submit" id="login" value="View Students" onclick="viewstudents()" />
            </div>
            <div>
                <input type="submit" id="login" value="Consolidated Student history" onclick="studenthistory()" />
            </div>
            <div>
                <input type="submit" id="login" value="Student Borrow" onclick="studentborrow()" />
            </div>
        </div>
        <div id="admin-teacher-ops" style="margin-left: 150px; display: inline-block;">
            <p>
                <center><font size="4"><b><u>Teacher Operations</u></b></font></center>
            </p>
            <div>
                <input type="submit" id="login" value="Add Teacher" onclick="addteacher()" />
            </div>
            <div>
                <input type="submit" id="login" value="Remove Teacher" onclick="removeteacher()" />
            </div>
            <div>
                <input type="submit" id="login" value="View Teachers" onclick="viewteachers()" />
            </div>
            <div>
                <input type="submit" id="login" value="Consolidated Teacher history" onclick="teacherhistory()" />
            </div>
            <div>
                <input type="submit" id="login" value="Teacher Borrow" onclick="teacherborrow()" />
            </div>
        </div>
        <div id="admin-book-ops" style="margin-left: 150px; display: inline-block;">
            <p>
                <center><font size="4"><b><u>Book Operations</u></b></font></center>
            </p>
            <div>
                <input type="submit" id="login" value="Add Book" onclick="addbook()" /><br>
            </div>
            <div>
                <input type="submit" id="login" value="Remove Book" onclick="removebook()" /><br>
            </div>
            <div>
                <input type="submit" id="login" value="View Books" onclick="viewbooks()" /><br>
            </div>
            <div>
                <input type="submit" id="login" value="Consolidated Book History" onclick="bookhistory()" /><br>
            </div>
            <div>
                <input type="submit" id="login" value="Return Book" onclick="bookreturn()" />
            </div>
        </div><br><br><br>
        <div>
            <center><div>
                <input type="submit" id="cancel" value="Logout" onclick="logout()" />
            </div></center>
        </div>
    </body>
    <script>
        function addbook(){
            location.href="{{ url_for('addbook') }}"
        }
        function addstudent(){
            location.href="{{ url_for('addstudent') }}"
        }
        function removebook(){
            location.href="{{ url_for('removebook') }}"
        }
        function removestudent(){
            location.href="{{ url_for('removestudent') }}"
        }
        function viewbooks(){
            location.href="{{ url_for('viewbooks') }}"
        }
        function viewstudents(){
            location.href="{{ url_for('viewstudents') }}"
        }
        function studenthistory(){
            location.href="{{ url_for('studenthistory') }}"
        }
        function bookhistory(){
            location.href="{{ url_for('bookhistory') }}"
        }
        function addteacher(){
            location.href="{{ url_for('addteacher') }}"
        }
        function removeteacher(){
            location.href="{{ url_for('removeteacher') }}"
        }
        function teacherhistory(){
            location.href="{{ url_for('teacherhistory') }}"
        }
        function viewteachers(){
            location.href="{{ url_for('viewteachers') }}"
        }
        function bookreturn(){
            location.href="{{ url_for('bookreturn') }}"
        }
        function studentborrow(){
            location.href="{{ url_for('studentborrow') }}"
        }
        function teacherborrow(){
            location.href="{{ url_for('teacherborrow') }}"
        }
        function logout(){
            location.href="{{ url_for('logout') }}"
        }
    </script>
</html>