<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='img/gat_logo.png') }}">
        <title>Remove Teacher</title>
        <style>
            body
            {
	            background-image: url("{{ url_for('static', filename='img/plain_bg.jpg') }}");
	            background-repeat: no-repeat;
	            background-size: cover;
            }            
        </style>
    </head>
    <img src="{{ url_for('static', filename='img/gat_logo.png') }}" style="float: left; width: 12%"/>
    <img src="{{ url_for('static', filename='img/naac_logo.png') }}" style="float: right; width: 10%"/>
    <body>
        <center><br>
            <div id="info2">
                Department of Computer Science and Engineering<br>
                <font color="maroon" size="5">
                    Accredited by NBA with A grade
                </font>
            </div>
        <p><br><br><br>
            <font color="black" size="5">
                <u><b>Department Library Database</b></u>
            </font>
        </p><br>
        <form id="admin_removeteacher_form" action="/admin/removeteacher" method="POST">
			<input placeholder="Teacher Emp Code" type="text" id="emp" name="emp" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" /><br><br>
			<input type="submit" id="signup" value="Remove Teacher" onclick="save()"/><br>
		</form>
        <input type="submit" id="cancel" value="Cancel" onclick="cancel()"/>
        <script>
            function save(){
                var emp = document.getElementById("emp").value
                if(emp=="")
                    alert("Enter Emp Code")
                else
                    alert("Teacher Data Removed")
            }
            function cancel(){
                alert("Teacher Removal Cancelled")
                location.href = "{{ url_for('admin') }}"
            }
        </script>
        </center>
    </body>
</html>