<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='img/gat_logo.png') }}">
        <title>Student History</title>
        <style>
            body
            {
	            background-image: url("{{ url_for('static', filename='img/plain_bg.jpg') }}");
	            background-repeat: no-repeat;
	            background-size: cover;
            }
        </style>
    </head>
    <img src="{{ url_for('static', filename='img/gat_logo.png') }}" style="float: left; width: 12%"/>
    <img src="{{ url_for('static', filename='img/naac_logo.png') }}" style="float: right; width: 10%"/>
    <body>
        <center><br>
            <div id="info2">
                Department of Computer Science and Engineering<br>
                <font color="maroon" size="5">
                    Accredited by NBA with A grade
                </font>
            </div>
        <p><br>
            <font color="black" size="5">
                <u><b>Digitalized Department Library</b></u>
            </font>
        </p><br><br>
        <p><br>
            <font color="black" size="5">
                <b>Your History:</b>
            </font>
        </p><br>
        <table border=1>
            <tr>
                <th>USN</th>
                <th>Book ID</th>
                <th>Date of Borrow</th>
                <th>Due Date</th>
                <th>Date of Return</th>
            </tr>
        {% for br_id, b_id, dob, due, dor in result %}
        <tr>
        <td>{{ br_id }}</td>
        <td>{{ b_id }}</td>
        <td>{{ dob }}</td>
        <td>{{ due }}</td>
        <td>{{ dor }}</td>
        </tr>
        {% endfor %}
        </table><br>
        <div>
            <input type="submit" id="login" value="Back" onclick="back()" />
        </div>
        </center>
        <script>
            function back(){
                location.href = "{{ url_for('studentprofile') }}"
            }
        </script>

    </body>
</html>
