<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='img/gat_logo.png') }}">
        <title>Student Update</title>
        <style>
            body
            {
	            background-image: url("{{ url_for('static', filename='img/plain_bg.jpg') }}");
	            background-repeat: no-repeat;
	            background-size: cover;
            }
        </style>
    </head>
    <img src="{{ url_for('static', filename='img/gat_logo.png') }}" style="float: left; width: 12%"/>
    <img src="{{ url_for('static', filename='img/naac_logo.png') }}" style="float: right; width: 10%"/>
    <body>
        <center><br>
            <div id="info2">
                Department of Computer Science and Engineering<br>
                <font color="maroon" size="5">
                    Accredited by NBA with A grade
                </font>
            </div>
        <p><br>
            <font color="black" size="5">
                <u><b>Digitalized Department Library</b></u>
            </font>
        </p><br>
        <form id="stuupdate" action="/studentprofile/stuupdate" method="POST">
            <input placeholder="Name" type="text" id="name" name="name" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" /><br><br>
			<input placeholder="Email" type="text" id="email" name="email" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" /><br><br>
			<input placeholder="Phone" type="tel" id="phone" name="phone" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" /><br><br>
			<input placeholder="Password" type="password" id="pass" name="pass" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" /><br><br>
            <input placeholder="Confirm Password" type="password" id="cpass" name="cpass" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" /><br><br>
            <input type="submit" id="signup" value="Update" onclick="save()"/><br>
        </form>
        <input type="submit" id="cancel" value="Cancel" onclick="cancel()"/>
        </center>
        <script>
            function save(){
                var name = document.getElementById("name").value
                var email = document.getElementById("email").value
                var pno = document.getElementById("phone").value
                var pass = document.getElementById("pass").value
                var cpass = document.getElementById("cpass").value
                if(pass!=cpass)
                    alert("Password and Confirm Password must be same")
                else if(name=="" && email=="" && pno=="" && pass=="" && cpass=="")
                    alert("No values Updated")
                else if(email!="")
                    if(!(/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email)))
                        alert("Invalid Email")
                else if(pno!="")
                    if(!(/^(?:(?:\+|0{0,2})91(\s*[\ -]\s*)?|[0]?)?[789]\d{9}|(\d[ -]?){10}\d$/.test(pno)))
                        alert("Invalid Phone Number")
                else if(pass.length()<8)
                    alert("Password must have at least 8 characters")
            }
            function cancel(){
                alert("Data Updation Cancelled")
                location.href = "{{ url_for('studentprofile') }}"
            }
        </script>
    </body>
</html>