<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='img/gat_logo.png') }}">
        <title>Teacher Update</title>
        <style>
            body
            {
	            background-image: url("{{ url_for('static', filename='img/plain_bg.jpg') }}");
	            background-repeat: no-repeat;
	            background-size: cover;
            }
        </style>
    </head>
    <img src="{{ url_for('static', filename='img/gat_logo.png') }}" style="float: left; width: 12%"/>
    <img src="{{ url_for('static', filename='img/naac_logo.png') }}" style="float: right; width: 10%"/>
    <body>
        <center><br>
            <div id="info2">
                Department of Computer Science and Engineering<br>
                <font color="maroon" size="5">
                    Accredited by NBA with A grade
                </font>
            </div>
        <p><br>
            <font color="black" size="5">
                <u><b>Digitalized Department Library</b></u>
            </font>
        </p><br>
        <form id="teachupdate" action="/teacherprofile/teachupdate" method="POST">
            <input placeholder="Password" type="password" id="pass" name="pass" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" /><br><br>
            <input placeholder="Confirm Password" type="password" id="cpass" name="cpass" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" /><br><br>
            <input type="submit" id="signup" value="Update" onclick="save()"/><br>
        </form>
        <input type="submit" id="cancel" value="Cancel" onclick="cancel()"/>
        </center>
        <script>
            function save(){
                var pass = document.getElementById("password").value
                var cpass = document.getElementById("cpassword").value
                if(pass == "")
                    alert("Enter your new password")
                else if(cpass == "")
                    alert("Please confirm your password")
                else if(pass!=cpass)
                    alert("Password and Confirm Password must be same")
                else if(pass.length()<8)
                    alert("Password must have at least 8 characters")
            }
            function cancel(){
                alert("Data Updation Cancelled")
                location.href = "{{ url_for('teacherprofile') }}"
            }
        </script>
    </body>
</html>