<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <link rel="icon" href="{{ url_for('static', filename='img/gat_logo.png') }}">
        <title>Teacher</title>
        <style>
            body
            {
	            background-image: url("{{ url_for('static', filename='img/plain_bg.jpg') }}");
	            background-repeat: no-repeat;
	            background-size: cover;
            }
        </style>
    </head>
    <img src="{{ url_for('static', filename='img/gat_logo.png') }}" style="float: left; width: 12%"/>
    <img src="{{ url_for('static', filename='img/naac_logo.png') }}" style="float: right; width: 10%"/>
    <body>
        <center><br>
            <div id="info2">
                Department of Computer Science and Engineering<br>
                <font color="maroon" size="5">
                    Accredited by NBA with A grade
                </font>
            </div>
        <p><br>
            <font color="black" size="5">
                <u><b>Digitalized Department Library</b></u>
            </font>
        </p><br>
        <div id="student-ops" style="margin-left: 0px; display: inline-block;">
            <div>
                <input type="submit" id="login" value="My Details" onclick="teachdetails()" />
            </div>
            <div>
                <input type="submit" id="login" value="View Available Books" onclick="teachavailbooks()" />
            </div>
            <div>
                <input type="submit" id="login" value="Update My Details" onclick="updatedetails()" />
            </div>
            <div>
                <input type="submit" id="login" value="My History" onclick="teachhistory()" />
            </div>
            <div>
                <input type="submit" id="login" value="Delete My Account" onclick="teachdelacc()" />
            </div>
        </div><br><br><br>
        <div>
            <input type="submit" id="cancel" value="Logout" onclick="logout()" />
        </div>
        </center>
        <script>
            function teachdetails(){
                location.href = "{{ url_for('teachdetails') }}"
            }
            function teachavailbooks(){
                location.href = "{{ url_for('teachavailbooks') }}"
            }
            function updatedetails(){
                location.href = "{{ url_for('teachupdate') }}"
            }
            function teachhistory(){
                location.href = "{{ url_for('teachhistory') }}"
            }
            function teachdelacc(){
                location.href = "{{ url_for('teachdelacc') }}"
            }
            function logout(){
                location.href = "{{ url_for('logout') }}"
            }
        </script>
    </body>
</html>